version: '3'

services:
  fastapi:
    build: 
      context: .
      dockerfile: Dockerfile.fastapi
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - MLFLOW_TRACKING_URI=file:/app/mlruns
      - MLFLOW_ARTIFACT_URI=file:/app/mlruns

